*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: hsl(235, 10%, 21%);
  --third-background-color: #f5f4fa;
  --white-text: #ffffff;
  --black: #000000;
  --button-color-active: #188ce8;
  --color-for-adress: rgb(100%, 100%, 100%, 60%);
  --color-border: #ececec;
  --color-secondary-border: #eeeeee;
  --card-set-gap: 30px;
  --hero-back: rgba(47, 48, 58, 0.4);
  --color-icons: #afb1b8;
}

.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.contact__item + .contact__item {
  margin-left: 50px;
}
.contact__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.footer__information {
  width: 231px;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: var(--white-text);
}
.footer__adress-link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-for-adress);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}
.footer__adress-link:hover, .footer__adress-link:focus {
  color: var(--accent-color);
}
.footer__adress-item + .footer__adress-item {
  margin-top: 9px;
}
.footer__adress-link--white {
  color: var(--white-text);
}
.footer__social-networks {
  margin-left: 70px;
}
.footer__networks-title {
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer__networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__networks-link + .footer__networks-link {
  margin-left: 10px;
}
.footer__networks-link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__networks-link:hover, .footer__networks-link:focus {
  background-color: var(--accent-color);
}
.footer__networks-icon {
  fill: #ffffff;
}

.footer a {
  text-decoration: none;
}

.header {
  background-color: var(--primary-background-color);
  border-bottom: solid 1px var(--color-border);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 93px;
  color: var(--black);
}
.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header a {
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item + .nav__item {
  margin-left: 50px;
}
.nav__item {
  position: relative;
}
.nav__link--current::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}
.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link--current {
  color: var(--accent-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-background-color);
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.activities__title {
  margin-bottom: 10px;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.activities__text {
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.activities__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.activities__item + .activities__item {
  margin-left: 30px;
}
.activities__item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--third-background-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.activities__icon-antenna::before {
  background-image: url(../imeges/antenna.svg);
}
.activities__icon-clock::before {
  background-image: url(../imeges/clock.svg);
}
.activities__icon-diagram::before {
  background-image: url(../imeges/diagram.svg);
}
.activities__icon-astronaut::before {
  background-image: url(../imeges/astronaut.svg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--white-text);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus {
  background-color: var(--button-color-active);
  cursor: pointer;
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-button__submit {
  padding: 10px 52px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card__item {
  -ms-flex-preferred-size: calc(33.3333333333% - var(--card-set-gap));
      flex-basis: calc(33.3333333333% - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.card__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover, .card__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__link {
  text-decoration: none;
}
.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 90%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  position: absolute;
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__overlay-text {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
}
.card__link:hover .card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__content {
  padding: 20px 24px;
  border-left: 1px solid var(--color-secondary-border);
  border-bottom: 1px solid var(--color-secondary-border);
  border-right: 1px solid var(--color-secondary-border);
}
.card__title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card__text {
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.clients__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 170px;
  height: 92px;
  color: var(--color-icons);
  fill: currentColor;
  border: 1px solid var(--color-icons);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__item + .clients__item {
  margin-left: 30px;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  fill: currentColor;
}

.employment {
  padding-top: 0;
}
.employment__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.employment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.employment__item + .employment__item {
  margin-left: 30px;
}
.employment__item {
  position: relative;
}
.employment__text {
  margin-bottom: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--white-text);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.filtr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filtr__item + .filtr__item {
  margin-left: 8px;
}
.filtr__button {
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
  background-color: var(--third-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: inherit;
  letter-spacing: 0.03em;
}
.filtr__button:hover, .filtr__button:focus {
  color: var(--white-text);
  background-color: var(--accent-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-field__label {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__input {
  height: 40px;
  width: 100%;
  padding: 0 12px 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input:hover, .form-field__input:focus {
  border-color: var(--accent-color);
}
.form-field__input:hover + .form-field__icon, .form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}
.form-field__control {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}
.form-field__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-field__textarea:hover, .form-field__textarea:focus {
  border-color: var(--accent-color);
}
.form-field__input-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form-field__checkbox {
  position: relative;
  margin-bottom: 30px;
}
.form-field__icon-checkbox {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: transparent;
  border: 2px solid black;
  border-radius: 2px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__input-checkbox:checked + .form-field__icon-checkbox {
  border: 0;
  fill: #fff;
  background-color: var(--accent-color);
}
.form-field__label-checkbox {
  font-size: 14px;
  line-height: 1.71;
  padding-left: 24px;
  position: relative;
}
.form-field__label-checkbox > .link {
  color: var(--accent-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-background-color);
  color: var(--white-text);
  background: -webkit-gradient(linear, left top, right top, from(var(--hero-back)), to(var(--hero-back))), url("../imeges/background-hero.jpg");
  background: linear-gradient(to right, var(--hero-back), var(--hero-back)), url("../imeges/background-hero.jpg");
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  margin-bottom: 30px;
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

.logo > span {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.mailing {
  display: block;
  margin-left: auto;
}
.mailing__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text);
}
.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mailing__field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-text);
  outline: none;
  padding: 0 16px;
  margin-right: 12px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing__field:hover, .mailing__field:focus {
  border-color: var(--accent-color);
}
.mailing__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5882352941);
}
.mailing__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5882352941);
}
.mailing__field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5882352941);
}
.mailing__field::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5882352941);
}
.mailing__field::placeholder {
  color: rgba(255, 255, 255, 0.5882352941);
}
.mailing__button-submit {
  padding: 10px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  fill: currentColor;
  text-align: center;
}
.mailing__icon-button {
  margin-left: 10px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 528px;
  max-height: 100%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: auto;
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team {
  background-color: var(--third-background-color);
}
.team__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__item + .team__item {
  margin-left: 30px;
}
.team__item {
  background-color: var(--primary-background-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__content {
  padding: 30px;
}
.team__staff-title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team__staff-text {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
}
.team__staff-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__networks-link + .team__networks-link {
  margin-left: 10px;
}
.team__networks-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-icons);
}
.team__networks-link:hover, .team__networks-link:focus {
  color: #ffffff;
  fill: currentColor;
  background-color: var(--accent-color);
}
.team__networks-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */