.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__conteiner {
        display: flex;
        align-items: baseline;
    }

    &__information {
        width: 231px;
    }

    &__logo {
        display: block;
        margin-bottom: 20px;

        color: var(--white-text);
    }

    &__adress-link {
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        color: var(--color-for-adress);
        font-size: 14px;
        line-height: 1.7;
        font-style: normal;
    }

    &__adress-link:hover,
    &__adress-link:focus {
        color: var(--accent-color);
    }

    &__adress-item+&__adress-item {
        margin-top: 9px;
    }

    &__adress-link--white {
        color: var(--white-text);
    }
    &__social-networks {
            margin-left: 70px;
    }
    
    &__networks-title {
        margin-bottom: 20px;
        text-decoration: none;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    &__networks-list {
        display: flex;
    }
    
    &__networks-link+&__networks-link {
        margin-left: 10px;
    }
    
    &__networks-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgb(255, 255, 255, 10%);
    }
    &__networks-link:hover,
    &__networks-link:focus {
        background-color: var(--accent-color);
    }
    &__networks-icon {
        fill: #ffffff;
    }
}

.footer a {
    text-decoration: none;
}